* {
    box-sizing: border-box;
    font-family: helvetica;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    background-color: #000;
    scroll-behavior: smooth;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #000;
    padding: 10px 20px;
  }

  .logo a {
    text-decoration: none;
    font-family: "philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #eee;
  }
  
  
  a.nav-link {
    color: #Fff;
    text-decoration: none;
    padding-right: 20px;
    font-family: "philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    position: relative;
    transition: all .5s ease-in-out;
  }

  .nav-link:hover {
    color: #FF612D;
  }

  .nav-link::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #FF612D;
    position: absolute;
    bottom: -3px;
    left: 0px;
    transition: all 500ms;
  }

  .nav-link:hover::after {
    width: 80%
  }
  

  .hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("c8ccac92-a28b-475e-b427-5ff7c9112993.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .hero-text h1 {
    margin: 0;
    color: #eee;
    text-align: center;
    padding-top: 425px;

    font-family: "philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
  }

  .hero-text p {
    margin: 0;
    color: #eee;
    text-align: center;

    font-family: "philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .underline::before {
    background-image: url(Group\ 917@2x.png);
    background-color: rgb(0, 20, 151, 0);
    background-size: 580px 10px;
    background-position: left bottom;
    position: absolute;
    width: 580px; 
    height: 82px;
    background-repeat: no-repeat;
    content: "";
    z-index: 2;
  }

  .arrow img {
    display: block;
    margin: 0 auto;
    height: 125px;
    padding-top: 30px;

  }

  .titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    margin: 50px;
    padding: 10px 50px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  i {
    color: #eee;
    padding: 5px;
    transition: all 500ms ease-in-out;
  }

  i:hover {
    color: #FF612D;
  }

  span.title-links {
    color: #eee;
    font-family: "philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
  }

  h3 {
    margin: 0;
    font-family: "philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #eee;
  }


  .container {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 0 50px;
    margin-bottom: 50px;
    background-color: #000;
    align-items: center;
  }

  .numbers {
    font-family: "philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6rem;
    color: #eee;
    margin: 0;
    max-width: 25%;
  }

  .project-img {
    width: 30%;
  }


  .project-text {
    color: #eee;
    width: 40%;
  }

  .box::before {
    background-image: url(Group\ 911@2x.png);
    background-color: rgb(0, 20, 151, 0);
    background-size: 150px 45px;
    background-position: right bottom;
    position: absolute;
    width: 150px; 
    height: 45px;
    background-repeat: no-repeat;
    content: "";
    z-index: 2;
  }

  .project-links {
    text-align: right;
  }

  a.web-links {
    margin-right: 20px;
    text-decoration: none;
    color: #eee;
    transition: all 500ms ease-in-out;
  }

  a.web-links:hover {
    color: #FF612D;
  }

  .main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 50px 25px 50px;
    gap: 50px;
    padding: 0 0 50px 0;
    border-bottom: 1px solid #eee;
  }
  
  .grid-images {
    width: 100%;
  }

  .grid-text {
    padding: 75px;
    color: #eee;
  }


